@page
@model PowerSentinel.Pages.IndexModel
@using PowerSentinel.Helpers
@using PowerSentinel.Models
@using PowerSentinel.Pages


<ul class="flex flex-col gap-2 list-none p-0 m-0">
	@foreach (var d in Model.Devices)
	{
		<li>
			<a href="/Statistic?deviceId=@d.Id">
				@await Html.PartialAsync("_DeviceInfo", d)
			</a>
		</li>
	}
</ul>