version: "3"

services:
  power-sentinel:
    container_name: power-sentinel
    image: oulianytskyi/power-sentinel:latest
    hostname: power-sentinel-rpi-docker
    restart: unless-stopped
    ports:
      - "7777:80/tcp"
    volumes:
      - ./data:/data
    environment:
      - TZ=Europe/Kyiv
      - ASPNETCORE_ENVIRONMENT=Production
      - PublicUrl=
      - TelegramBotToken=
      - Monitor__IntervalSeconds=15
      - Monitor__HeartbeatAliveSeconds=15
      - Admin__Username=
      - Admin__Password=